{% extends 'home/base.html' %}

{% block content %}
<style>
    .anchor {
        background-color: #0e2238;
        color: aliceblue;
    }
    .anchor:hover {
        background-color: #204267;
        color: aliceblue;
    }
    .btn-custom {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #0a1a2e;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        display: inline-block !important;
    }
    .btn:hover {
        background-color: #204267;
    }
</style>

{% if messages %}
        <div aria-live="polite" aria-atomic="true" class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
            {% for message in messages %}
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000" style="margin-top: 10px;">
                    <div class="toast-header {% if message.tags == 'error' %}bg-danger{% elif message.tags == 'success' %}bg-success{% else %}bg-info{% endif %} text-light">
                        <i class="fas fa-comment me-2"></i> 
                        <strong class="me-auto">Notification</strong>
                        <small>Just now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
{% endif %}
<!-- Breadcrumbs for easy navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'document_list' %}">Documents</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ summary.name }}</li>
    </ol>
</nav>

<h5>Viewing Document Summary </h5>

<div class="embed-responsive embed-responsive-16by9" style="height: 80vh;">
    <div 
        class="embed-responsive-item m-2 p-3" 
        style="width: 100%; height: 100%; border: none; background-color: #c7d1db86;" 
        >
        {{ summary }}
    </div>
</div>

<a href="{% url 'document_list' %}" class="btn-custom bg-primary mt-3">Back to Documents</a>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var toastElements = document.querySelectorAll('.toast');
        toastElements.forEach(function(toastEl) {
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        });
    });

    function viewDocument(url) {
        var iframe = document.getElementById('documentIframe');
        iframe.src = url;
    }

</script>

{% endblock %}
